.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    max-height: 400px;
    min-width: 60px;
    background-color: white;
    padding: 20px;
    margin: 10px;
    width: 100%;
    z-index: 1;
}

.product:hover {
    box-shadow: 5px 5px  #d3c091;
    transform: translateY(-10px);
  }

.product__info {
    height: 100px;
    margin-bottom: 15px;
}

.product__price {
    margin-top: 5px;
}

.product__rating {
    display: flex;
}

.product__image {
    max-height: 200px;
    max-width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product > button {
    font-weight: 600;
    border: 3px solid;
    background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    cursor: pointer;
}